/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"); */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/custom.module.css";

/* @font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: 400;
} */

@layer base {
  @font-face {
    font-family: Roboto;

    /* //src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("ttf"); */
    src: url("./fonts/Roboto-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    /* //src: local("Ubuntu"), url(./fonts/Ubuntu-Medium.ttf) format("ttf"); */
    src: url("./fonts/Ubuntu-Medium.ttf") format("ttf");
  }
}
