@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./styles/custom.module.css";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
/* @font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
} */

@layer components {
  .icon-link {
    @apply text-gray-400 group-hover:text-gray-300 mr-3 flex-shrink-0 h-6 w-6;
  }

  .activeClassName > .icon-link {
    @apply text-indigo-600 group-hover:text-gray-300 mr-3 flex-shrink-0 h-6 w-6;
  }
}

@base {
  body,
  html {
    font-family: Roboto, sans-serif !important;
  }
}
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"); */
