@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./styles/custom.module.css";
@import "tailwindcss/utilities";

/* @font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: 400;
} */

/* //@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"); */

/* @layer base {
  @font-face {
    font-family: Roboto;

    src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: Ubuntu;

    src: local("Ubuntu"), url(./fonts/Ubuntu-Medium.ttf) format("ttf");
  }
}
 */
